* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

html {
  scroll-behavior: smooth;
}
body {
  background: #0f0f0f;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
  background: transparent;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar a {
  font-family: cursive;
  color: white;
  text-decoration: none;
  opacity: 0.7;
}

.navbar a:hover {
  opacity: 1;
}

.logo {
  color: #f4b822;
  font-family: cursive;
  cursor: pointer;
}

.reveal {
  opacity: 0;
  transform: translateY(70px);
  transition-delay: 0.17s;
  transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  -webkit-transition: all 0.8s ease;
}
.reveal.active {
  opacity: 1;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}
.navbar a.active {
  color: #f4b822;
  border-bottom: 2px solid #f4b822;
  padding-bottom: 4px;
}
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 60px;
}

.hero_text h1 {
  font-size: 47px;
}

.hero_text span {
  color: #ffb703;
}

.hero_text p {
  margin: 15px 0;
  opacity: 0.7;
}

.btn {
  padding: 7px 20px;
  margin: 30px 10px;
  font-family: cursive;
  color: black;
  background: #ffb803e7;
  text-decoration: none;
  border-radius: 17px;
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
  -ms-border-radius: 17px;
  -o-border-radius: 17px;
}

.hero_img img {
  cursor: pointer;
  width: 480px;
  border-radius: 50%;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  -webkit-transition: transform 0.4s ease, box-shadow 0.4s ease;
  -moz-transition: transform 0.4s ease, box-shadow 0.4s ease;
  -ms-transition: transform 0.4s ease, box-shadow 0.4s ease;
  -o-transition: transform 0.4s ease, box-shadow 0.4s ease;
}
.hero_img img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 70px rgba(244, 234, 34, 0.429);
}
.section {
  padding: 90px;
  text-align: center;
}

.section h2 {
  font-size: 37px;
  margin-bottom: 20px;
  font-family: cursive;
}

.dark {
  background: #161616;
}

/* skills */

.skills {
  cursor: pointer;
  padding: 20px;
  background: #313131;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
.Skills-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.project-grid {
  display: flex;
  justify-content: center;
  gap: 27px;
}

.project-cards {
  background: #313131;
  padding: 27px;
  width: 370px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.icons i {
  font-size: 22px;
  color: aliceblue;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  cursor: pointer;
  margin: 12px;
}

.icons i:hover {
  color: #f4b822;
}
footer {
  padding: 20px;
  opacity: 0.7;
  background: #313131;
  text-align: center;
}

.skills:hover,
.project-cards:hover {
  transform: translateY(-6px);
  -webkit-transform: translateY(-6px);
  -moz-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  -o-transform: translateY(-6px);
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  box-shadow: 0 0 25px rgba(244, 234, 34, 0.429);
}
