* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  color: #fff;
}

header {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding: 20px;
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}

.app {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-wrap: wrap;
  padding: 20px;
}

.form-control,
.task-card {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  border-radius: 11px;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  -ms-border-radius: 11px;
  -o-border-radius: 11px;
  padding: 21px;
  width: 320px;
}

/* form */

.form-control input,
.form-control textarea {
  width: 100%;
  margin: 11px 0;
  padding: 11px;
  color: blueviolet;
  font-weight: bold;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-style: none;
}

.form-control button {
  width: 100%;
  padding: 11px;
  background: #00c8c8c2;
  border: none;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  color: #3f3b3b;
  font-weight: bold;
  cursor: pointer;
}

.form-control button:hover {
  background: #70bbce;
  color: black;
}

.task {
  background: rgba(0, 0, 0, 0.4);
  padding: 12px;
  border-radius: 7px;
  margin-top: 12px;
  position: relative;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}
.task h3 {
  font-size: 16px;
}

.task p {
  font-size: 13px;
  opacity: 0.9;
}

.task.pending {
  border-left: 5px solid #00c8c8;
  border-right: 5px solid #00c8c8;
}

.task.pending small {
  color: #9ee7e7;
}

/* Completed Tasks */
.task.completed {
  border-left: 4px solid #00c853;
  border-right: 4px solid #00c853;
  opacity: 0.85;
}

.task.completed h3,
.task.completed p {
  text-decoration: line-through;
  color: #bdbdbd;
}

.task.completed small {
  color: #81c784;
}
.task button {
  margin-right: 7px;
  padding: 4px 8px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-size: 12px;
}

.task button:hover {
  opacity: 0.85;
}

.task .complete-btn {
  background: #00c853;
  color: #fff;
}

.task .edit-btn {
  background: #ffc107;
  color: #000;
}

.task-card h2 {
  text-align: center;
  margin: 11px;
}
.task-card.pending-title h2 {
  color: #00c8c8;
}

.task-card.completed-title h2 {
  color: #00c853;
}

.delete-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgb(246, 18, 64);
  border: none;
  color: #fbff00;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
}

.delete-btn:hover {
  background: red;
}
