* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(135deg, #024950, #964734);
  display: flex;
  align-items: center;
  justify-content: center;
}

.app {
  width: 370px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(11px);
  padding: 30px;
  border-radius: 10px;
  border: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;

  box-shadow: inset 0 -48px 48px #964734, 0 0 0 2px white,
    4.8px 4.8px 16px #964734;
}

h1 {
  color: #003135;
  text-align: center;
  margin-bottom: 27px;
}

label {
  color: #003135;
  font-size: 17px;
  opacity: 0.9;
}
input,
select {
  width: 100%;
  margin-top: 7px;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 7px;
  font-size: 15px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

.input-group {
  margin-bottom: 21px;
}

.selectors {
  display: flex;
  gap: 17px;
  margin-bottom: 22px;
}

button {
  width: 100%;
  padding: 15px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border: none;
  font-size: 17px;
  cursor: pointer;
  background: #024950;
  color: white;
  font-weight: 700;
  transition: transform 0.3s ease;
}

button:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

.result {
  margin-top: 21px;
  padding: 17px;
  border-radius: 11px;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  -ms-border-radius: 11px;
  -o-border-radius: 11px;
  font-size: 17px;
  text-align: center;
  color: white;
  background: #024a5065;
}
